<header class="bg-white shadow">
    <div class="max-w-[90rem] mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">Dashboard</h1>
    </div>
    
</header>
<main>
    <div class="max-w-[90rem] mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <div class="border-4 border-dashed border-gray-200 rounded-lg bg-gray-100 p-2">
                <div>
                    <div class="lg:grid lg:grid-cols-4 lg:gap-6">
                        <div class="md:col-span-1">
                            <div class="px-4 sm:px-0">
                                <h3 class="text-lg font-medium leading-6 text-gray-900" id="form-title">Reimbursement Form</h3>
                            </div>
                            <div class="px-4 sm:px-0 mt-5">

                                <a href="/home" onclick="route()" id="request_link"
                                class="text-blue-500">Request Reimbursement</a>
                            </div>
                            <div class="px-4 sm:px-0">

                                <a href="/pending" onclick="getReimbursements(event)" id="pending_link"
                                class="text-blue-500">View Pending Reimbursements</a>
                            </div>
                            <div class="px-4 sm:px-0">

                                <a href="/resolved" onclick="getReimbursements(event)" id="resolved_link"
                                class="text-blue-500">View Resolved Reimbursements</a>
                            </div>
                        </div>
                        <div class="mt-5 lg:mt-0 md:col-span-3 min-h-custom" id="inner-main-page">
                            <form onsubmit="reimbFormHandler(event)">
                                <div class="shadow sm:rounded-md sm:overflow-hidden">
                                    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                                        <div class="grid grid-cols-3 gap-6">
                                            <div>
                                                <label for="number"
                                                    class="block text-sm font-medium text-gray-700">Amount</label>
                                                <div class="mt-1 relative rounded-md shadow-sm">
                                                    <div
                                                        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                                        <span class="text-gray-500 sm:text-sm"> $ </span>
                                                    </div>
                                                    <input type="number" step="0.01" min="0" name="amount" id="amount"
                                                        class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md"
                                                        placeholder="0.00">
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <label for="description" class="block text-sm font-medium text-gray-700">
                                                Description
                                            </label>
                                            <div class="mt-1">
                                                <textarea id="description" name="description" rows="3"
                                                    class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                                                    placeholder=""></textarea>
                                            </div>
                                            <p class="mt-2 text-sm text-gray-500">Brief description for your
                                                reimbursement</p>
                                        </div>

                                        <div class="grid grid-cols-3 gap-6">
                                            <div>
                                                <label for="reimbursement_type_id"
                                                    class="block text-sm font-medium text-gray-700">Reimbursement
                                                    Type</label>
                                                <select id="reimbursement_type_id" name="reimbursement_type_id" autocomplete="country-name"
                                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                    <option value="1">Lodging</option>
                                                    <option value="2">Travel</option>
                                                    <option value="3">Food</option>
                                                    <option value="4">Other</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div>
                                            <label class="block text-sm font-medium text-gray-700"> Receipt </label>
                                            <div
                                                class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                                <div class="space-y-1 text-center">
                                                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor"
                                                        fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                                        <path
                                                            d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                    <div class="flex text-sm text-gray-600 justify-center">
                                                        <label for="receipt"
                                                            class="cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                                            <span>Upload a file</span>
                                                            <input id="receipt" name="receipt" type="file" onchange="showFileName(event)"
                                                                class="sr-only">
                                                        </label>
                                                    </div>
                                                    <p class="text-sm text-gray-500" id="file-name">PNG, JPG, GIF up to 10MB</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                                        <button type="submit"
                                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>