<div class="flex justify-center mt-20">
    <div class="py-12 w-80">
      <h2 class="text-2xl font-bold">Create an account</h2>
      <div class="max-w-md mt-8">
        <div class="grid grid-cols-1 gap-6">
          <label class="block">
            <span class="text-gray-700">Email</span>
            <input type="email" class="block w-full mt-1" placeholder="" />
          </label>
          <label class="block">
            <span class="text-gray-700">Password</span>
            <input
              type="password"
              class="block w-full mt-1"
              placeholder=""
            />
          </label>
          <button
            class="block py-2 text-purple-100 bg-slate-600 rounded shadow-lg shadow-slate-300"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>